td center
{   border: 1px solid black;
    align-items: center;
}
table, td, th, tr
{   border: 1px solid black;
}
td{
    width: 25vw;    
}
table
{
    position: static;
    top: 30px;
    left: 60px;
    background-color: fuchsia;
    font-weight: 1000;
}